@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Roboto, sans-serif;
}

.App {
  text-align: center;
  background: rgb(39, 39, 39);
}

.App-Content {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./img/mainBG.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: block;
  width: 100vw;
  font-size: calc(10px + 2vmin);
  color: white;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.App-Content-LoggedIn .App-Content{
  background: rgb(39, 39, 39);
  text-align: center;
}

.App-Content-LoggedIn .App-Header{
  display: block;
  padding-left: 10px;
  background-color: rgba(255, 251, 0, 0);
  box-shadow: none;
  transition: all 0.4s;
}

.App-Content-LoggedIn .App_SideBar{
  transition: opacity 0.2s;
  opacity: 1;
  display: block;
  background-color: rgb(20, 20, 20);
  margin-top: 0;
  border-radius: 5px;
  padding-top: calc(4.5vh + 40px);
  transition: background-color 0.4s;
}

.App-Content-LoggedIn .App_ChatList{
  transition: opacity 0.2s;
  opacity: 1;
  display: block;
  border-radius: 5px;
  background-color: rgb(27, 27, 27);
  border: 1px solid (27, 27, 27);
  border-left: 1px solid (27, 27, 27);
}

.App_ChatBox_Def{
  display: none;
  height: 100vh;
  width: 100%;
}

.App_ChatBox_Loading{
  display: none;
  height: 100vh;
  width: 100%;
}

.App-Content-LoggedIn .App_ChatBox_Def{
  display: block;
  height: 100vh;
  width: 100%;
}

.App-Content-LoggedIn .App_ChatBox_Def_Text{
  vertical-align: middle;
  font-weight: normal;
  color: gray;
  font-style: italic;
  height: 300px;
  padding-top: 50vh;
}

.App-Content-LoggedIn .App_ChatBox_Loading{
  display: none;
  height: 100vh;
  width: 100%;
}

.App-Content-LoggedIn .loadingBG{
  display: block;
  height: 100%;
  width: 100%;
}

.App-Content-LoggedIn .App_ChatBox{
  transition: opacity 0.2s;
  opacity: 1;
  display: none;
}

.App-Header{
  display: block;
  z-index: 500;
  position: absolute;
  z-index: 150;
  font-size: 2.25vh;
  text-align: left;
  padding: 15px;
  padding-left: 30px;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  text-shadow: 3px 3px 2.5px rgba(0, 0, 0, 0.5);
}

#loggedInContainer{
  display: block;
}

.App_SideBar {
  display: none;
  float: left;
  position: relative;
  width: 60px;
  margin-top: calc(4.5vh + 30px);
  padding-top: 10px;
  padding-bottom: 10px;
  height: calc(100vh - (4.5vh + 50px));
  font-size: small;
  z-index: 90;
  opacity: 0;
}

.App_ChatList {
  display: none;
  float: left;
  position: relative;
  width: 300px;
  height: calc(100vh);
  font-size: small;
  z-index: 90;
  overflow: hidden;
  opacity: 0;
}

.App_ChatBox {
  display: none;
  float: left;
  position: relative;
  width: calc(100vw - 360px);
  height: calc(100vh);
  font-size: small;
  z-index: 200;
  background-color: #26262600;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
}

.sideButtonActive{
    width: 60px;
    height: 60px;
    border: none;
    border-left: 3px solid coral;
    outline: none;
    background: none;
    font-size: 10px;
    transition: background 0.4s;
}

.sideButtonInactive{
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  background: none;
  font-size: 10px;
  transition: background 0.4s;
}

.App-Page-List button img{
    width: 22px;
    padding: 19px;
}

.App-Page-List button:hover{
  background: rgba(128, 128, 128, 0.3);
}

.userProfileList{
  border-radius: 5px;
  background-color: rgb(15, 15, 15);
}

.profileImage{
  float: left;
  position: relative;
  width: 46px;
  height: 46px;
  margin: auto;
  border-radius: 50%;
  border: 2px solid white;
  font-size: small;
  background-color: gray;
  line-height: 46px;
  font-size: large;
  font-weight: bold;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.25);
}

.profileContent{
  display: block;
  padding: 10px;
  height: 50px;
  width: calc(300px - 60px);
  text-overflow: ellipsis;
}
.profileContent i{
  font-size: smaller;
}
.profileOptions{
  display: block;
  height: 40px;
}

.profileOptions button{
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  border: none;
  border-radius: 2.5px;
  background: rgba(56, 56, 56, 0.8);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.25);
  transition: background 0.2s;
}

.profileOptions button:hover{
  background: rgba(56, 56, 56, 0.5);
}

.profileOptions button:active{
  background:  rgba(63, 63, 63, 0.6);
}

.userProfileList{
  padding: 20px;
  background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.15)), url('./img/defUserBG.svg');
  background-size: cover;
  background-position: center;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.userList{
  position: relative;
  height: calc(100% - 150px);
  border-radius: 0 0 15px 0;
}

.listOptions{
  display: flex;
  flex-direction: row;
}

.listOptions .buttonInactive{
  width: 50%;
  height: 40px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: dimgray;
}

.listButtonActive{
  width: 50%;
  height: 40px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  border-bottom: 2px solid white;
  height: 38px;
  line-height: 40px;
}

.listOptions .listButtonActive:hover{
  background-color: rgba(50,50,50,0.25);
}

.App-Content-LoggedIn .listContainer_Loading{
  display: block;
  height: calc(100% - 80px);
  position: relative;
}

.listContainer{
  display: none;
  height: calc(100% - 80px);
  position: relative;
}

.listSearchBox{
  display: none;
  position: absolute;
  height: 50px;
  width: calc(100% - 10px);
  left: 5px;
  right: 5px;
  bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(20, 20, 20);
}
.listSearchBox input{
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(100%);
  height: 40px;
  font-size: 12px;
  font-weight: light;
  background-color: transparent;
  padding: 5px;
  padding-left: 15px;
  line-height: 40px;
  outline: none;
  border: none;
}

.headerImage{
  height: 40px;
}

.chatHeader{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
}

.chatBoxProfileImage{
    float: left;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 50%;
    font-size: small;
    background-color: gray;
    line-height: 30px;
    font-size: normal;
    font-weight: bold;
    text-align: center;
}

.chatBoxProfileContent{
  padding-top: 15px;
  line-height: 125%;
}

.chatBoxProfileContent i{
  color: dimgray;
  font-size: smaller;
}

.messageContainer{
  display: flex;
  flex-direction: column;
  padding: 0px;
  pointer-events: all;
  padding-top: 10px;
  padding-bottom: 10px;
}

.messageOverflowContainer{
  display: block;
  height: calc(100vh - 120px);
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  overflow: hidden;
  overflow-y: scroll;
  pointer-events: all;
}

.chatBoxInput{
  position: absolute;
  height: 50px;
  width: calc(100% - 20px);
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(20, 20, 20);
}

.chatBoxInput input{
  display: block;
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 0;
  width: calc(100% - 100px);
  height: 40px;
  font-size: 12px;
  font-weight: light;
  background-color: transparent;
  padding: 5px;
  line-height: 40px;
  outline: none;
  border: none;
}

.chatBoxInputSendBtn{
  display: block;
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: none;
  outline: none;
  border: none;
  transition: background 0.3s;

}

.chatBoxInputSendBtn:hover{
  background-color: rgba(220, 220, 220, 0.2);
}

.chatBoxInputSendBtn:active{
  background-color: rgba(128, 128, 128, 0.3);
}

.chatBoxInputSendBtn img{
  width: 20px;
  height: 20px;
  padding: 15px;
  object-fit: contain;
}

.signingInBG{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 250;
  background-color: rgb(26, 26, 26);
  align-items: center;
  text-align: center;
  transition: display 0.4s;
  display: block;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.globalPage{
  display: none;
  position: relative;
  width: calc(100vw - 60px);
  height: 100vh;
  margin-right: 0;
  margin-left: 60px;
  z-index: 250;
}

.searchBarGlobal input{
  background-color: rgb(17, 17, 17);
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 40px;
  min-width: 500px;
  font-size: small;
  transition: all 0.3s;
}

.searchBarGlobal input:not(:placeholder-shown){
  margin-top: 0;
  margin-bottom: 40px;
  width: 100%;
}


.App-Footer{
  height: 6vh;
  display: inline-block;
  background-color: rgb(26, 26, 26);
  color: white;
  font-size: small;
  line-height: 6vh;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 40px);
}