@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Roboto, sans-serif;
}

.App {
  text-align: center;
}

.App-Content {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./img/mainBG.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: block;
  width: 100vw;
  font-size: calc(10px + 2vmin);
  color: white;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.App-Content-LoggedIn .App-Content{
  background: rgb(39, 39, 39);
  transition: background 0.4s;
  text-align: center;
}

.App-Content-LoggedIn .App-Header{
  display: block;
  padding-left: 10px;
  background-color: rgba(255, 251, 0, 0);
  box-shadow: none;
  transition: all 0.4s;
}

.App-Content-LoggedIn .App_SideBar{
  display: block;
  background-color: rgb(20, 20, 20);
  margin-top: 0;
  padding-top: calc(4.5vh + 40px);
  transition: background-color 0.4s;
}

.App-Content-LoggedIn .App_ChatList{
  display: block;
  border-radius: 0 15px 15px 0;
  background-color: rgb(27, 27, 27);
}

.App-Content-LoggedIn .App_ChatBox{
  display: block;
}

.App-Header{
  display: block;
  z-index: 500;
  position: absolute;
  z-index: 150;
  font-size: 2.25vh;
  text-align: left;
  padding: 15px;
  padding-left: 30px;
  height: 4.5vh;
  top: 0;
  left: 0;
  right: 0;
  text-shadow: 3px 3px 2.5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.5);
}

#loggedInContainer{
  display: block;
}

.App_SideBar {
  display: none;
  float: left;
  position: relative;
  width: 60px;
  margin-top: calc(4.5vh + 30px);
  padding-top: 10px;
  padding-bottom: 10px;
  height: calc(100vh - (4.5vh + 50px));
  font-size: small;
  z-index: 90;
  background-color: #26262600;
}

.App_ChatList {
  display: none;
  float: left;
  position: relative;
  width: 300px;
  height: calc(100vh);
  font-size: small;
  z-index: 90;
  background-color: #26262600;
}

.App_ChatBox {
  display: none;
  float: left;
  position: relative;
  width: calc(100vw - 360px);
  padding-bottom: 10px;
  height: calc(100vh);
  font-size: small;
  z-index: 90;
  background-color: #26262600;
}

.profileImage{
  float: left;
  position: relative;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  font-size: small;
  background-color: gray;
  line-height: 50px;
  font-size: large;
  font-weight: bold;
}

.profileContent{
  display: block;
  padding: 10px;
  height: 50px;
  width: calc(300px - 60px);
  text-overflow: ellipsis;
}
.profileContent i{
  font-size: smaller;
}

.profileOptions button{
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  border: none;
  border-radius: 2.5px;
  background: rgb(56, 56, 56);
}

.profileOptions button:active{
  background:  rgb(63, 63, 63);

}

.userProfileList{
  padding: 20px;
}

.headerImage{
  height: 4.5vh;
}

.App-Footer{
  height: 6vh;
  display: inline-block;
  background-color: rgb(26, 26, 26);
  color: white;
  font-size: small;
  line-height: 6vh;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 40px);
}