* {
  margin: 0;
  padding: 0;
  color: white;
}

.App {
  text-align: center;
}

.App-Content {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./img/mainBG.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: block;
  width: 100vw;
  font-size: calc(10px + 2vmin);
  color: white;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.App-Header{
  display: block;
  z-index: 500;
  position: absolute;
  z-index: 150;
  font-size: 2.25vh;
  text-align: left;
  padding: 15px;
  padding-left: 30px;
  top: 0;
  left: 0;
  right: 0;
  text-shadow: 3px 3px 2.5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.5);
}

#loggedInContainer{
  display: none;
}

.App_SideBar {
  display: block;
  float: left;
  position: relative;
  width: 49px;
  margin-top: calc(5.5vh + 30px);
  padding-top: 10px;
  padding-bottom: 10px;
  height: calc(100vh - (5.5vh + 50px));
  font-size: small;
  z-index: 90;
  background-color: #26262600;
  border-right: 1px solid rgb(56, 56, 56);
}

.App_ChatList {
  display: block;
  float: left;
  position: relative;
  width: 299px;
  margin-top: calc(5.5vh + 30px);
  padding-top: 10px;
  padding-bottom: 10px;
  height: calc(100vh - (5.5vh + 50px));
  font-size: small;
  z-index: 90;
  background-color: #26262600;
  border-right: 1px solid rgb(59, 59, 59);
}

.App_ChatBox {
  display: block;
  float: left;
  position: relative;
  width: calc(100vw - 350px);
  margin-top: calc(5.5vh + 30px);
  padding-top: 10px;
  padding-bottom: 10px;
  height: calc(100vh - (5.5vh + 50px));
  font-size: small;
  z-index: 90;
  background-color: #26262600;
}

.headerImage{
  height: 4.5vh;
}

.App-Footer{
  height: 6vh;
  display: inline-block;
  background-color: rgb(26, 26, 26);
  color: white;
  font-size: small;
  line-height: 6vh;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 40px);
}