.signInContainer{
    display: block;
    position: relative;
    min-height: 100%;
    min-width: 100%;
    text-shadow: 5px 5px 7.5px rgba(0, 0, 0, 0.5);
}

.signInContainer h5{
    font-weight: normal;
}

.signInLeft{
    display: block;
    width: 50%;
    float: left;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.signInRight{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 50%;
  float: right;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.logoLarge{
    display: inline-block;
    height: 50vh;
}

.signInContainer .signInContent{
    padding: 20px;
}

.signInContainer .signInSubContent{
    font-size: small;
    padding: 20px;
}

.signInContainer button{
    outline: none;
    border: none;
    background-color: rgb(0, 89, 255);
    color: white;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    font-size: small;
    transition: box-shadow 0.4s;
}

.signInContainer button:hover{
    box-shadow: 0px 0px 10px rgb(0, 26, 56);
}

.signInContainer button:active{
    box-shadow: inset 0px 0px 7px rgb(0, 12, 24);
}

.signInContainer button img{
    float: left;
    width: 14px;
    object-fit: scale-down;
}

.signInContainer button span{
    padding-left: 20px;
}
